*{
    margin: 0;
    padding: 0;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    
}
.color-orange{
    color: #FD6E0A;
    font-weight:900;
}
nav .menu li a{
    text-decoration: none;
}
nav .menu {
    list-style: none;
    display: flex;
    gap: 51px;
    padding-left: 240px;
    align-items: center;
    
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
   color: #474747;

}
.btn{
    
    width: 150px;
    height: 65px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}